
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 20180521FlatironSchool-Selects-79.jpg
https://flatiron-v3-production.imgix.net/20180521FlatironSchool-Selects-79.jpg?h=50&w=100&fit=crop&crop=faces&ixlib=imgixjs-3.3.0
https://s3-media2.fl.yelpcdn.com/bphoto/P6EQqbOsnDuJZlI4n39_yw/o.jpg */

body {

  background-image: url('./Pictures/BackgroundPhoto.jpg');
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-color: transparent; */
  background-attachment: scroll;

}

.background-photo {

  background-image: url('https://flatiron-v3-production.imgix.net/20180521FlatironSchool-Selects-79.jpg?h=1000&w=2000&fit=crop&crop=faces&ixlib=imgixjs-3.3.0');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;

}
